@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
   min-width: 100vh;
   min-height: 100vh;
   margin: 0;
   padding: 0;
}

.icons {
   padding-top: 10%;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
}

button {
   text-indent: 110px;
   text-align: left;
   cursor: pointer;
   width: 307px;
   height: 105px;
   font-family: "Ubuntu", sans-serif;
   font-size: 20px;
   font-weight: 400;
   color: #fff;
   background: #808180;
   border: none;
}

button:hover {
   background-color: #5f5e5e;
}

.ic {
   width: 95px;
   position: absolute;
   display: flex;
   margin-left: -90px;
   cursor: pointer;
}

#ed:hover ~ #ed {
   background-color: #5f5e5e;
}
#fa:hover ~ #fa {
   background-color: #5f5e5e;
}
#his:hover ~ #his {
   background-color: #5f5e5e;
}
#sec:hover ~ #sec {
   background-color: #5f5e5e;
}
#set:hover ~ #set {
   background-color: #5f5e5e;
}
