@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
   width: 1920px;
   height: 1080px;
   margin: 0;
   padding: 0;
}

.icons {
   padding-top: 10%;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
}

button {
   text-indent: 110px;
   text-align: left;
   cursor: pointer;
   width: 307px;
   height: 105px;
   font-family: "Ubuntu", sans-serif;
   font-size: 20px;
   font-weight: 400;
   color: #fff;
   background: #808180;
   border: none;
}

button:hover {
   background-color: #5f5e5e;
}

.ic {
   width: 95px;
   height: 539px;
   z-index: 1;
   position: absolute;
   top: 175px;
   left: 820px;
   right: 1008px;
   bottom: -82px;
}

.ic img {
   margin-top: 13px;
   margin-bottom: 5px;
   display: flex;
   width: 95px;
}
